.main-page {
    display: flex;

    height: 100%;
}

.side-menu {

    width: 20%;
    resize: horizontal;
}

.note-editor {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;

    position: relative;

    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-right: 15vw;

    outline: none;
}

.note-editor .note-title {
    outline: none;
    margin-top: 4em;
}

.note-editor .note-block {
    margin: 0;
    outline: 1px solid black;

    white-space: normal;

}

.note-editor .block-picker {
    position: absolute;
    background-color: #ffffff;
    
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.37); 
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.37);
    overflow-y: scroll;

}

.block-picker .category {
    display: flex;

    flex-direction: column;
}

.block-picker .category .category-title {
    display: block;
    
    padding-left: 0.875rem;

    color: rgba(55, 53, 47, 0.65);
    font-size: 0.687rem;
    text-transform: uppercase;

}

.block-picker .category .category-list {
    display: block;

    list-style-type: none;
}

.block-picker .category .category-list li {
    display: block;
    
}

.block-picker .category .category-list li:hover {
    background-color: #efefef;
}
.block-picker .category .category-list li.highlighted {
    background-color: #efefef;
}

.block-picker .category .category-list li span:first-child {
    display: block;
    color: rgb(55, 53, 47);
    font-size: 0.875rem;
    /* line-height: 120%; */
}
.block-picker .category .category-list li span:last-child {
    display: block;
    color: rgba(55, 53, 47, 0.65);
    font-size: 0.75rem;
}


.note-editor h1.note-title[contentEditable=true]:empty:before {
    content: attr(data-placeholder);
    color: rgb(156, 156, 156);
}

/* .note-editor pre.note-block  {
    content: attr(data-placeholder);
    color: rgb(156, 156, 156);
} */

.note-editor .text-line[contentEditable=true]:empty:focus:before {
    content: attr(data-placeholder);
    color: rgb(156, 156, 156);
}

.text-line {
    margin: 0;
}

/* .note-editor .section-blocks {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    
} */