.main-page {
    display: flex;

    height: 100%;
}

.side-menu {

    width: 20%;
    resize: horizontal;
}

.note-editor {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;

    position: relative;

    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-right: 15vw;

    outline: none;
}

.note-editor .note-title {
    outline: none;
    margin-top: 4em;
}

.note-editor .note-block {
    margin: 0;
    outline: 1px solid black;

    white-space: normal;

}

.note-editor .block-picker {
    position: absolute;

    background-color: pink;
    width: 200px;
    height: 100px;

}

.note-editor h1.note-title[contentEditable=true]:empty:before {
    content: attr(data-placeholder);
    color: rgb(156, 156, 156);
}

/* .note-editor pre.note-block  {
    content: attr(data-placeholder);
    color: rgb(156, 156, 156);
} */

.note-editor .text-line[contentEditable=true]:empty:focus:before {
    content: attr(data-placeholder);
    color: rgb(156, 156, 156);
}

.text-line {
    margin: 0;
}

/* .note-editor .section-blocks {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    
} */